<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script type="text/javascript" src="Functii.js"></script>
    <link href="style.css" rel="stylesheet">
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    <link href="style_login.css" rel="stylesheet">
 
    <script src="actions.js"></script>
</head>
<body>





<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 wrapper">
      <form action="/register" method="post" novalidate>
<h2 class="centertext">Register</h2>
  <div class="container">
    <label for="name" class="ltext"><b>Nume:</b></label>
    <input id="name" type="text" placeholder="Enter Nume" name="user_name" value="<%= (locals.old_data) ? old_data.user_name : ''; %>" required>

    <label for="pren" class="ltext"><b>Prenume:</b></label>
    <input id="pren" type="text" placeholder="Enter Prenume" name="user_firstname" value="<%= (locals.old_data) ? old_data.user_firstname : ''; %>" required>
        
    <label for="email" class="ltext"><b>Email:</b></label><br>
    <input type="text" id="email" placeholder="Enter email" name="user_email" value="<%= (locals.old_data) ? old_data.user_email : ''; %>" required><br>
    
    <label for="psw" class="ltext"><b>Password:</b></label>
    <input id="psw" type="password" placeholder="Enter Password" name="user_pass" required>
    <% if (locals.register_error) { 
      register_error.forEach(function(error_msg){ %>
      <div class="alert alert-danger" role="alert"><%= error_msg %></div>
    <% });
    } %>
    <button type="submit" onclick="Register()">Register</button>
    <div class="container">



  </div>
    
  </div>

  
</form>
    </div>
    <div class="col">
    </div>
  </div>
</div>

</body>
</html>
